/* GENERAL */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 
    font-family: 'Montserrat';
    font-family: 'Poppins';
    font-family: 'PT Serif' 
*/

.wrapper {
    margin: auto;
    width: 90%;
}

/* HEADER */

header h1 {
    font-family: 'PT Serif';
    font-size: 2.25rem;
    padding-top: 1rem;
}

.header__texte {
    padding-top: 3rem;
    font-family: 'Poppins';
}

.header__texte h2 {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.header__texte p {
    padding-top: 0.5rem;
    width: 95%;
    padding-right:130px;
}

/* CARD */ 

.card__wrapper {
    padding: 5rem 0 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.card {
    display: grid;
    grid-template-columns: 1fr 5%;
    grid-row: span 3;
    gap: 0.5rem;
}

.card__image img{
    width: 100%;
}

.card__name p{
    font-weight: 600;
    font-family: 'Poppins';
    padding-top: 0.5rem;
}

.card__position p {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 550;
}

.card:nth-child(2n) {
    transform: translateY(4rem);
}

/* MEDIA QUERIES */ 

@media screen and (min-width: 650px) {

    .header__texte {
        width: 70%;
    }

    .card__wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .card:nth-child(2) {
        transform: translateY(4rem);
      }
    
      .card:nth-child(5) {
        transform: translateY(8rem);
      }
}

@media screen and (min-width: 1200px) {
   
    .wrapper {
        margin: 3rem auto;
        width: 70%;
    }
    
    header {
        display: flex;
        justify-content: space-between;
    }

    header h1 {
        padding-top: 0;
    }

    .header__texte {
        width: 50%;
    }

    .header__texte {
        padding-top: 0;
    }
}

@media screen and (max-width: 400px) {

    header h1 {
        font-size: 2rem;
    }

    .header__texte h2 {
        font-size: 1rem;
    }

    .header__texte p {
        font-size: 0.85rem;
    }

    .card__name p{
        font-size: 0.80rem;
    }
}

/* FOOTER */ 

footer p{
    text-align: center;
    font-family: 'Montserrat';
    color:#A9A9A9;
    padding-top: 3rem;
}


